.navbar {
    padding: 5px 10px 5px 10px;
}

.bottomNavIcons {
    margin: 5px;
}

.bottomNavImage {
    width: 30px;
}

.jumbotron {
    background-color: rgb(238,238,238);
    padding: 20px 0px;
    margin-top: 10%;
    border-radius: 3px;
    border: 1px solid black;
}

.button-container {
    margin-top: 15%;
    display: inline-flex;
    flex-direction: column;
}

.button-container > .button-rows {
    margin: 5%;
}

.function-buttons {
    display: flex;
    justify-content: center;
}

.button-rows button {
    width: 130%;
    border-radius: 3px;
    background-color: rgb(238,238,238);
    border: 1px solid black;
}

.button-rows button a {
    text-decoration: none;
    color: black;  
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 1.2em 7em;     
    margin: -3em; 
}