.navbar {
    padding: 5px 10px 5px 10px;
}

.bottomNavIcons {
    margin: 5px;
}

.bottomNavImage {
    width: 30px;
}

.jumbotron {
    background-color: rgb(238,238,238);
    padding: 20px 0px;
    margin-top: 20px;
    border-radius: 3px;
}

.function-buttons {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 0px;
    grid-template-areas:
        "map"
        "mytree"
        "directory"
        "aboutus";
}

.main-map-button { grid-area: map; }

.main-mytree-button { grid-area: mytree; }

.main-directory-button { grid-area: directory; }

.main-aboutus-button { grid-area: aboutus; }

.function-buttons div button {
    width: 250px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(238,238,238);
    border: none;
}

.function-buttons div button a {
    text-decoration: none;
    color: black;
}