#no-tree-statement {
  font-size: 15px;
  color: #6c584c;
  text-align: center;
}

#add-tree-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  border-radius: 3px;
  margin-bottom: 10%;
  height: 40px;
  width: 60%;
  background-color: rgb(244, 242, 236);
  box-shadow: 5px 5px 25px -7px rgba(83, 65, 54, 0.8);
}

#add-tree-button:hover {
  background-color: rgb(220, 214, 190);
}

.addTreeSection {
  position: relative;
  margin-bottom: 5%;
  text-align: center

}

.user-trees {
  /* display: inline-flex;
  align-items: center;
  justify-content: center; */
  color: black;
  border: none;
  border-radius: 3px;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 40px;
  width: 60%;
  background-color: rgb(221,229,182);
  box-shadow: 3px 3px 15px -7px rgba(83, 65, 54, 0.8);
  line-height: 10px;
}

#tree-image-div {
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 100px;
  height: 100px;
}