#no-tree-statement {
  font-size: 15px;
  color: #6c584c;
  text-align: center;
}

#add-tree-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  border-radius: 3px;
  margin-bottom: 10%;
  height: 40px;
  width: 100%;
  background-color: rgb(244, 242, 236);
  box-shadow: 5px 5px 25px -7px rgba(83, 65, 54, 0.8);
}

#add-tree-button:hover {
  background-color: rgb(220, 214, 190);
}

.addTreeSection {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 18%;
}

.user-trees {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  border-radius: 3px;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 40px;
  width: 100%;
  background-color: rgb(244, 242, 236);
  box-shadow: 3px 3px 15px -7px rgba(83, 65, 54, 0.8);
}
