#tree-photos {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 5%;
}

#tree-page-tree-image-album {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 12.5%;
  width: 100px;
  height: 100px;
}

.ant-upload-list-picture-card-container {
  width: 150px;
  height: 150px;
  margin: 2%;
}

.ant-upload.ant-upload-select-picture-card {
  width: 150px;
  height: 150px;
  margin: 2%;
}

.ant-btn-primary {
  visibility: hidden;
}

.ant-modal-close {
  position: inherit;
  margin: 0px;
  padding: 0px;
}

.ant-modal-body {
  padding-top: 0px;
}

.back-button-image-log {
  position: relative;
  left: 6%;
  top: 30px;
  font-size: 200%;
}

.description_form {
  width: 93%;
  border:1px solid #34aa41
}
