#tree-photos {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 5%;
}

#tree-page-tree-image-album {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 12.5%;
  width: 100px;
  height: 100px;
}

.ant-upload-list-picture-card-container {
  width: 150px;
  height: 150px;
  margin: 2%;
}

.ant-upload.ant-upload-select-picture-card {
  width: 150px;
  height: 150px;
  margin: 2%;
}

.ant-btn-primary {
  visibility: hidden;
}

.ant-modal-close {
  position: inherit;
  margin: 0px;
  padding: 0px;
}

.ant-modal-body {
  padding-top: 0px;
}

.back-button-image-log {
  position: relative;
  left: 6%;
  top: 30px;
  font-size: 200%;
}

.description_form {
  width: 93%;
  border:1px solid #34aa41
}

/**
* Flip
* I found this code on github.

* @author kaustubhmenon
* @see https://github.com/kaustubhmenon/animation-library/blob/master/css/flip.css
*/
@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
  }
}
@-moz-keyframes flip {
  0% {
    -moz-transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    -moz-transform: rotate3d(0, 1, 0, -180deg);
  }
}
@-o-keyframes flip {
  0% {
    -o-transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
}

.flipping {
  -webkit-animation: flip 2s ease-out;
  -moz-animation: flip 2s ease-out;
  -o-animation: flip 2s ease-out;
  animation: flip 2s ease-out;
  animation-iteration-count: infinite;
}

.ant-upload-list-picture-card .ant-upload-list-item-error {
  border-color: aliceblue;
}

.ant-tooltip-inner {
  visibility: hidden;
}

.ant-tooltip-arrow-content {
  visibility: hidden;
}