#outer-location {
    width: 50px;
    height: 50px;
    background-color: rgba(128, 204, 255, 0.5);
    border-radius: 50%;
}

#inner-location {
    background-color: #4d94ff;
    transform: translate(75%, 75%);
    font-size: 30px;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
}

#shopping-cart {
    width: 28px;
}

#tree-icon {
    width: 20px;
}

#tree-map-icon {
    width: 40px;
}

#legend {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(255,255,255,0.6);
    padding: 5px 15px;
    border-radius: 15px;
}

#shopping-cart-legend{
    width: 19px;
}

#tree-vendor-span{
    margin-right: 20px;
    font-size: 16px;
}

#tree-map-icon-legend{
    width: 25px;
}

#planting-site-legend{
    font-size: 16px;
}
