#tab-bar.demo {
    display: flex;
    flex-direction: column;
}
#tab-bar .demoName {
    height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
}

.mybtn {
    width: 27%;
    background-color: #ADC178;
    border: #ADC178;
    color: white;
}

.mybtn-active {
    width: 27%;
    background-color: #8fc1b7;
    border: #8fc1b7;
    color: white;
}

.mybtn2 {
    background-color: #ADC178;
    border-color: #ADC178;
    color: white;
}

.mybtn2-active {
    background-color: #8fc1b7;
    border-color: #8fc1b7;
    color: white;
}