.popup {
  position: fixed;
  /* position: sticky; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.popup_inner {
  display: table;
  width: 80%;
  margin: auto;
  margin-top: 12%;
  border-radius: 5px;
  background: radial-gradient(
    ellipse at top left,
    rgba(173, 193, 120, 255) 0%,
    rgba(238, 230, 182, 255) 75%,
    rgba(173, 193, 120, 255) 100%
  );
}

.form-title {
  font-size: 18px;
  color: #6c584c;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

.form-close-button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  padding-right: 10px;
  text-align: right;
}

.form_input {
  margin: 8px;
  border: none;
  padding: 1%;
  border-radius: 3px;
  width: 70%;
  color: gray;
}

.form_submit_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  background-color: #a98468;
  color: white;
  width: 45%;
  height: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.add_tree_form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 1%;
}

#bday-label {
  font-size: 11px;
  color: #677e27;
  text-align: left;
}
#b-day {
  background-color: white;
  color: gray;
}

/* Fix date field collapse on iphone
https://github.com/twbs/bootstrap/issues/23307 */
input[type="text"],
input[type="number"],
input[type="date"] {
  height: 2.375rem;
}

/* Add placeholder in birthday field input */
/* https://stackoverflow.com/questions/18146350/how-do-i-simulate-placeholder-functionality-on-input-date-field/34565565 */
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: grey;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}
