.edit-data-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-data-popup-inner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  border-radius: 5%;
  width: 80%;
}

span {
  font-size: 22px;
}

.close {
  width: 20%;
  height: 20%;
  background-color: transparent;
  padding: 0%;
}

.edit-data-popup-inner p {
  font-size: 16px;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.edit-input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5%;
  width: 80%;
  height: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.edit-submit-button {
  width: 40%;
  border: none;
  margin-top: 8%;
  margin-left: 28%;
  margin-right: 28%;
  padding: 8px;
}
