.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 12%;
  right: 12%;
  top: 15%;
  bottom: 20%;
  margin: auto;
  border-radius: 10px;
  background: radial-gradient(
    ellipse at top left,
    rgba(173, 193, 120, 255) 0%,
    rgba(238, 230, 182, 255) 75%,
    rgba(173, 193, 120, 255) 100%
  );
}

.form-title {
  font-size: 16px;
  color: #6c584c;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

.form-close-button {
  border: none;
  border-radius: 20px;
  background-color: #dee6b6;
  float: right;
  font-size: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

.form_input {
  margin: 8px;
  border: none;
  height: 8%;
  width: 100%;
  border-radius: 5px;
}

.form_submit_button {
  margin: 5px;
  margin-left: 18%;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  background-color: #a98468;
  color: white;
  width: 70%;
  height: 10%;
  margin-top: 15px;
}

.add_tree_form {
  position: absolute;
  left: 18%;
  right: 20%;
  top: 15%;
  bottom: 25%;
}

#bday-label {
  font-size: 11px;
  margin-left: 10px;
  color: #677e27;
}
#b-day {
  background-color: white;
  color: gray;
}
