#about-us-div {
    text-align: center;
}

.about-us-culture {
    width: 75%;
    margin: 12%;
}
.about-us-jumbo {
    border: none;
    margin-bottom: 10%;
    margin-top: 0px;
    width: 90%;
}

.jumbo-div {
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

.about-us-culture h1 {
    width: 75%;
    margin: 12%;
}

#about-us-description p {
    font-size: .9em;
    margin: 0;
}

.people-picture {
    margin-bottom: 30px;
    padding-top: 20px;
}

.people-picture img {
    border-radius: 50%;
    width: 50%;
}

.founders-name {
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
}

.founders-title {
    font-style: italic;
    margin: 0;
}

#founder-photo-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(214,214,217);
    border-radius: 5px;
}